.banner {
  height: 720px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  /* Banner: forma 1 */
  /* position: relative;
  z-index: 0; */

  /* Banner: forma 2 */
  background-image: linear-gradient(to bottom, rgb(0,0,0) 0%, rgba(0,0,0,0.35) 40%,rgba(0,0,0,0.9) 100%), url('../../images/background.jpg');

  /* Banner: forma 3 */
  /* position: relative;
  background-image: linear-gradient(to bottom, rgb(0,0,0) 0%, rgba(0,0,0,0.35) 40%,rgba(0,0,0,0.9) 100%); */
}

/* Banner: forma 1 */
/* .banner__gradient {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-image: linear-gradient(to bottom, rgb(0,0,0) 0%, rgba(0,0,0,0.35) 40%,rgba(0,0,0,0.9) 100%);
} */

/* Banner: forma 3 */
/* .banner__image {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
} */

.banner__content {
  margin-left: 70px;
}

.banner__title {
  font-size: 65px;
  line-height: 72px;
  letter-spacing: -1.5px;
  color: var(--color-white);
  margin-bottom: 20px;
}

.banner__subtitle {
  font-size: 20px;
  line-height: 32px;
  color: var(--color-white);
  margin-bottom: 40px;
}

@media only screen and (max-width: 480px) {
  .banner {
    height: 510px;
  }

  .banner__content {
    margin-left: 16px;
    padding-top: 80px;
  }

  .banner__title {
    font-size: 24px;
    line-height: 32px;
  }

  .banner__subtitle {
    font-size: 14px;
    line-height: 18px;
  }
}
