.banner {
  background-image: url('../../images/background.jpg');
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.banner__title {
  font-size: 65px;
  line-height: 72px;
  letter-spacing: -1.5px;
  color: #ffffff;
  margin-bottom: 20px;
}

.banner__subtitle {
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
}
