.slider {
  margin: 70px;
}

.slider__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider__title {
  color: var(--color-white);
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.5px;
}

.slider__more {
  color: var(--color-white);
  font-size: var(--font-size-default);
  line-height: 22px;
  text-decoration: none;
}

.slider__more__text,
.slider__more__icon {
  vertical-align: middle;
}

.slider__more__icon {
  fill: var(--color-primary);
  margin-left: 8px;
}
