@use "variables";

body {
  color: variables.$color-primary;
}

section {
  background-color: red;

  div {
    color: green;

    span {
      font-weight: bold;
    }
  }
}

@mixin textBox($backgroundColor) {
  background-color: $backgroundColor;
  border: 2px solid black;
  color: #ffffff;
}

.info {
  @include textBox(darkblue);
}

.danger {
  @include textBox(darkred);
}

.warning {
  @include textBox(yellow);
}

%textBox2 {
  border: 2px solid;
  color: #000;
  padding: 10px;
}

.info2 {
  @extend %textBox2;
  border-color: darkblue;
}

.danger2 {
  @extend %textBox2;
  border-color: darkred;
}

.warning2 {
  @extend %textBox2;
  border-color: yellow;
}

.bg-blue {
  background-color: blue;
  height: 20px;
  margin-bottom: 1px;
}

$sizes: 10, 20, 30, 40;

@each $size in $sizes {
  .width-#{$size} {
    width: #{$size}px;
  }
}

$colors: (
  red: #990000,
  green: #009900,
  blue: #000099
);

@each $key,
$value in $colors {
  .color-#{$key} {
    color: $value;
  }

  .background-color-#{$key} {
    background-color: $value;
  }
}
