/* Comentário CSS */

/* Seletor de Tag */
blockquote {
  color: red;
}

/* Seletor de Classe */
.blue {
  color: blue;
}

/* Seletor de ID */
#unique-blockquote {
  color: green;
}

/* Seletor Universal */
* {
  color: #000000;
}

/* Seletor de Atributo */
[color="pink"] {
  color: pink;
}

/* Seletor Descendente (todos filhos, netos, bisnetos...) */
section p {
  background-color: purple;
}

/* Seletor Filho (filhos imediatos) */
section > p {
  background-color: yellow;
}

/* Seletor de Irmão Adjacente */
div + p {
  color: aqua;
}

/* Seletor de Irmão Geral */
div ~ p {
  background-color: brown;
}

a {
  color: blue;
}

/* Seletor de Pseudo-Classe */
a:visited {
  color: red;
}

a:hover {
  color: aqua;
}

a:focus {
  color: midnightblue;
}

div ~ p:nth-child(4) {
  color: orange;
}

p:first-child {
}
p:last-child {
}

/* Seletor de Pseudo-Elemento */
.first-letter-big::first-letter {
  font-size: 30px;
  color: gray;
}

.box {
  width: 50px;
  height: 50px;
  background-color: salmon;
}

.box::before {
}

.box::after {
  content: "";
  width: 50px;
  height: 50px;
  margin-left: 50px;
  background-color: plum;
  display: block;
}

/* Agrupamento de seletores */
.h6,
.p {
  background-color: green;
}



/* Cores */

.color-box {
  width: 100px;
  height: 100px;
  display: inline-block;
}


/* Imagem de fundo */
.image-container {
  width: 90%;
  height: 400px;

  background-color: #f3f3f3;
  background-image: url("https://upload.wikimedia.org/wikipedia/pt/9/98/Microsoft_Edge_logo_%282019%29.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 100px;

  /* Declaração única */
  background: #f3f3f3 url("https://upload.wikimedia.org/wikipedia/pt/9/98/Microsoft_Edge_logo_%282019%29.svg") no-repeat right top/100px;
}

.bordered {
  border-style: dashed;
  border-width: 4px;
  border-color: cyan;

  /* Declaração única */
  border: 10px solid magenta;

  /* border-radius: 10px; */
  border-radius: 10px 20px 30px 40px;
}


