.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c3c3c3;
  height: 60px;
}

.header__toggle,
.header__check {
  display: none;
}

@media only screen and (max-width: 480px) {
  .menu {
    display: block;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: pink;
    transform: translateX(-100%);
    transition: transform 0.25s ease;
  }

  .menu__item {
    display: block;
    margin: 20px 0;
  }

  .header__toggle {
    display: block;
  }

  .header__check:checked ~ .menu {
    transform: translateX(0);
  }
}
